Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/water.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/tiger.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/surf.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/sunset.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/night.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/flowers.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/flower.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/desert.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/city.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/files/butterfly.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/water.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/tiger.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/surf.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/sunset.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/night.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/flowers.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/flower.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/desert.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/city.jpg
Troelsen/Wpf_Parallelism/Wpf_Parallelism/bin/Debug/ModifledPictures/butterfly.jpg
